<script>
	var xhr_head = new XMLHttpRequest();
	xhr_head.addEventListener("load", function(e) {
		if(this.status !== 200)
			return;
		this.response.body.getElementsByTagName("script")[0].innerHTML = "";
		document.getElementsByClassName("container")[0].innerHTML =
			this.response.body.innerHTML
			+ document.body.getElementsByClassName("container")[0].innerHTML;
		window.scroll(
			window.scrollX + this.response.scrollWidth,
			window.scrollY + this.response.scrollHeight
		);
		if(window.location.hash.length > 0)
			window.location = window.location.hash;
		return;
	});
	xhr_head.open("GET","./head",true);
	xhr_head.responseType = "document";
	xhr_head.send(null);
</script>
